	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		}

	.page1 {
		font-family: Arial, sans-serif;
		background-image: url("images/homepage.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		box-sizing: border-box;
		font-family: sans-serif;
		position: relative;
		}

	.page2 {
		font-family: Arial, sans-serif;
		background-image: url("images/pnppage.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		box-sizing: border-box;
		font-family: sans-serif;
		}

	.page3 {
		font-family: Arial, sans-serif;
		background-image: url("images/bfppage.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		box-sizing: border-box;
		font-family: sans-serif;
		}

	.page4 {
		font-family: Arial, sans-serif;
		background-image: url("images/hospitalpage.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		box-sizing: border-box;
		font-family: sans-serif;
		}

	.page5 {
		font-family: Arial, sans-serif;
		background-image: url("images/clinicpage.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		box-sizing: border-box;
		font-family: sans-serif;
		}

	.menu-bar {
		background-color: #1C1C1C;
		text-align: center;
		}

	.menu-bar ul {
		display: inline-flex;
		list-style: none;
		color: #fff;
		}

	.menu-bar ul li {
		width: 120px;
		margin: 15px;
		padding: 15px;
		}

	.menu-bar ul li a {
		text-decoration: none;
		color: #fff;
		}

	.active, .menu-bar ul li:hover {
		background: #2bab0d;
		border-radius: 3px;
		}

	.menu-bar .fa-solid {
		margin-right: 2px;
		}

	.sub-menu-1 {
		display: none;
		}

	.menu-bar ul li:hover .sub-menu-1 {
		display: block;
		position: absolute;
		background-color: #1C1C1C;
		margin-top: 15px;
		margin-left: -15px;
		}

	.menu-bar ul li:hover .sub-menu-1 ul {
		display: block;
		margin: 10px;
		}

	.menu-bar ul li:hover .sub-menu-1 ul li {
		width: 150px;
		padding: 10px;
		border-bottom: 1px dotted #fff;
		background: transparent;
		border-radius: 0;
		text-align: left;
		}

	.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
		border-bottom: none;
		}

	.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
		color: #b2ff00;
		}

	.fa-angle-right {
		float: right;
		}

	.sub-menu-2 {
		display: none;
		}

	.hover-me:hover .sub-menu-2 {
		position: absolute;
		display: block;
		margin-top: -40px;
		margin-left: 140px;
		background-color: #1C1C1C
		}

	.container {
		width: 950px;
		margin: 0 auto;
		}

	.card {
		background: rgba(255,255,255,.45);
		padding: 20px;
		margin-top: 20px;
		}

	.card .place-name {
		display: flex;
		align-items: center;
		color: #000000;
		}

	.card .place-name {
		margin-left: 10px;
		}

	.text-headline {
		text-align: center;
		font-size: 36px;
		margin-top: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		}
		
	.text-headline, .img-headline {
		height: 50px;
		margin-right: 10px;
		}

	p {
		font-weight: bold;
		}

		.hometext1 {
			font-family: baskerville ;
			font-weight: bold ;
			font-size: 600%;
			color: white;
			text-align: center
		}

		.hometext2 {
			font-family: baskerville ;
			font-weight: bold ;
			font-size: 600%;
			color: white;
			text-align: center
		}

		.hometext3 {
			font-family: Calibri, sans-serif ;
			font-weight: bold ;
			font-size: 200%;
			color: white;
			text-align: center
		}

		.homediv1 {
			margin-top: 5%;
			text-align: center;
		}

		.homediv2 {
			text-align: center;
		}

		.homediv3 {
			margin-top: 2%;

		}

		.logo {
			width: 20%;
			height: 20%;
		}
